<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" th:replace="~{common/layout :: layout(~{::body/content()})}">

<head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>

</head>
<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- 404 Error Text -->
            <div class="text-center">
                <div class="error mx-auto" data-text="500">500</div>
                <p class="lead text-gray-800 mb-5">Server Error</p>
                <p class="text-gray-500 mb-0">サーバで問題が発生しました。もう一度やり直してください</p>
                <a th:href="@{/}">&larr; トップページへ</a>
            </div>

        </div>
        <!-- /.container-fluid -->
    </div>
</body>

</html>