<html lang="ja" xmlns:th="http://www.thymeleaf.org" th:replace="~{common/layout :: layout(~{::body/content()})}">

<head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>

</head>

<body id="page-top">
  <div class="container-fluid">
    
    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">カテゴリー登録完了</h1>
    <div class="card shadow mb-4 card-body">

      <p class="text-gray-800">カテゴリーの登録が完了しました。</p>

      <a th:href="@{/admin/category}">一覧画面へ戻る</a>
    </div>
  </div>
</body>

</html>