<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" th:replace="~{common/layout :: layout(~{::body/content()})}">

<head>

	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title></title>

</head>

<body id="page-top">

	<!-- Begin Page Content -->
	<div class="container-fluid">

		<!-- Page Heading -->
		<!-- Page Heading -->
		<h1 class="h3 mb-4 text-gray-800">案件終了確認</h1>
		<p>この案件を終了しますか。</p>
		
		<table class="table">
			<tr>
				<th scope="col">案件名</th>
				<td scope="col" th:text="${agenda.title}"></td>
			</tr>

			<tr>
				<th scope="row">説明</th>
				<td th:text="${agenda.description}"></td>
			</tr>

			<tr>
				<th scope="row">案件開始日</th>
				<td th:text="${agenda.startDate}"></td>
			</tr>

			<tr>
				<th scope="row">企業名</th>
				<td th:text="${agenda.company.comName}"></td>
			</tr>
			<tr>
				<th scope="row">企業担当者名</th>
				<td th:text="${agendaName}"></td>
			</tr>
			<tr>
				<th scope="row">担当部員名</th>
				<td>
					<ul th:each="agendaEntries : ${agenda.agendaEntries}">
						<li th:text=" ${agendaEntries.user.userName}"></li>
					</ul>
				</td>
			</tr>
			<tr>
				<th scope="row">案件の状態</th>
				<td th:switch="${agenda.status}">
					<span th:case="0">進行中</span>
					<span th:case="1">完了</span>
				</td>
			</tr>
			<tr>
				<th scope="row">報告</th>
				<td th:text="${agenda.report}"></td>
			</tr>

		</table>
		
		<div class="d-grid gap-2 d-md-block my-3">
			<button class="btn btn-primary" type="button" onclick="location.href='close/complete'">終了</button>
			<button class="btn btn-primary" type="button" onclick="location.href='list'">戻る</button>
		</div>

	</div>
	<!-- /.container-fluid -->

</body>

</html>