<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" th:replace="~{common/layout :: layout(~{::body/content()})}">

<head>

	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title></title>
</head>

<body id="page-top">

	<!-- Begin Page Content -->
	<div class="container-fluid">

		<!-- Page Heading -->
		<h1 class="h3 mb-4 text-gray-800">案件登録</h1>
		<p>登録する情報を入力してください。</p>

		<form th:action="@{/agenda/input/check}" th:object="${agendaForm}" method="post">
			
			<th:block th:if="${#fields.hasErrors()}">
			<ul class="error_list">
				<li th:each="err:${#fields.detailedErrors()}" th:text="${err.message}"></li>
			</ul>
			<br />
		</th:block>
			
			
			<div class="col-md-6">
				<label for="inputEmail4" class="form-label">案件名</label>
				<input type="text" name="title" class="form-control" id="inputAgendaName">
			</div>
			<div class="col-md-6">
				<label for="inputPassword4" class="form-label">企業名</label>
				<select name="comId" class="form-control">
					<th:block th:each="comp : ${comps}">
						<option th:value="${comp.comId}" th:text="${comp.comName}"></option>
					</th:block>
				</select>
			</div>
			<div class="col-md-6">
				<label for="inputPassword4" class="form-label">説明</label>
				<input type="text" name="description" class="form-control" id="inputDescription">
			</div>
			

			<div class="col-md-6">
				<label for="inputEmail4" class="form-label">担当部員</label>
				<select name="userId" class="form-control" id="inputUser" multiple="multiple" >
					<th:block th:each="user : ${users}">
						<option th:each="user : ${users}" th:value="${user.userId}" th:text="${user.userName}"></option>
					</th:block>
				</select>
			</div>
			<div class="col-md-6">
				<label for="inputPassword4" class="form-label">企業担当者</label>
				<select name="agentId" class="form-control" id="inputUser">
					<th:block th:each="agent : ${agents}">
						<option th:value="${agent.agentId}" th:text="${agent.agentName}"></option>
					</th:block>
				</select>
			</div>
			<div class="col-md-6">
				<label for="inputPassword4" class="form-label">案件開始日</label>
				<input type="date" name="startDate" class="form-control" id="inputDate">
			</div>
			<div class="col-md-6">
				<label for="inputPassword4" class="form-label">案件終了日</label>
				<input type="date" name="endDate" class="form-control" id="inputDate">
			</div>

			<div class="col-md-6">
				<label for="inputPassword4" class="form-label">実施状態</label>
				<select name="status" class="form-control">
					<option th:value="0">進行中</option>
					<option th:value="1">完了</option>
				</select>
			</div>

			<div class="col-md-6">
				<label for="inputPassword4" class="form-label">報告</label>
				<textarea type="text" name="report" class="form-control" id="inputReport" rows="12"></textarea>
			</div>
			<div class="d-grid gap-2 d-md-block m-3">
				<input class="btn btn-primary" type="submit" value="登録">
			</div>
		</form>

		<form th:action="@{/agenda/list}">
			<div class="d-grid gap-2 d-md-block m-3">
				<input class="btn btn-primary" type="submit" value="戻る">
			</div>
		</form>


	</div>
	<!-- /.container-fluid -->

</body>

</html>