<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" th:replace="~{common/layout :: layout(~{::body/content()})}">

<head>

	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title></title>

</head>

<body id="page-top">

	<!-- Begin Page Content -->
	<div class="container-fluid">

		<!-- Page Heading -->
		<h1 class="h3 mb-4 text-gray-800">案件変更完了</h1>
		<p>案件の変更を完了しました。</p>
		<a th:href="@{/agenda/list}">案件一覧へ戻る</a>

	</div>
	<!-- /.container-fluid -->

</body>

</html>