<html lang="ja" xmlns:th="http://www.thymeleaf.org" th:replace="~{common/layout :: layout(~{::body/content()})}">

<head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

</head>

<body id="page-top">
    <div class="container-fluid">
    
        <!-- Page Heading -->
        <h1 class="h3 mb-4 text-gray-800">部員変更</h1>
        <div class="card shadow mb-4 card-body">
            <form method="post" th:object="${userForm}">
                <!-- エラーメッセージを表示 -->
                <th:block th:if="${#fields.hasErrors()}">
                    <ul>
                        <li style="color: red;" th:each="err:${#fields.detailedErrors()}" th:text="${err.message}"></li>
                    </ul>
                    <br />
                </th:block>
                <div class="form-group">
                    <label for="name">名前:</label>
                    <input class="form-control" type="text" placeholder="名前" th:field="*{userName}">
                </div>
                <div class="form-group">
                    <label for="team">チーム：</label>
                    <input class="form-control" type="text" placeholder="チーム名" th:field="*{team}">
                </div>
                <div class="form-group">
                    <label for="position">役職：</label>
                    <input class="form-control" type="text" placeholder="役職名" th:field="*{position}">
                </div>
                <div class="form-group">
                    <label for="tel">電話番号：</label>
                    <input class="form-control" type="text" placeholder="電話番号" th:field="*{tel}">
                </div>
                <div class="form-group">
                    <label for="email">メールアドレス：</label>
                    <input class="form-control" type="text" placeholder="メールアドレス" th:field="*{email}">
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" th:field="*{auth}" id="auth" th:value="1">
                    <label class="form-check-label" for="auth">管理者権限</label>
                    <input type="hidden" th:field="*{auth}" th:value="0" />
                </div>

                <input type="hidden" th:field="*{userId}" />

                <button type="submit" th:formaction="@{/mypage/employee/update/check_r}" class="btn btn-primary">確認</button>
                <button type="submit" th:formaction="@{/admin}" class="btn btn-secondary">戻る</button>
                <hr>
            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>