<html lang="ja" xmlns:th="http://www.thymeleaf.org" th:replace="~{common/layout :: layout(~{::body/content()})}">

<head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>

</head>

<body id="page-top">
  <div class="container-fluid">
    
    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">部員情報変更完了</h1>

    <p class="text-gray-800">部員情報の変更が完了しました。</p>

    <a th:href="@{/admin}">管理画面へ戻る</a>
  </div>
</body>

</html>