<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" th:replace="~{common/layout :: layout(~{::body/content()})}">

<head>

	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title></title>

</head>

<body id="page-top">
	<div class="container">

		<!-- Page Heading -->
		<h1 class="h3 mb-4 text-gray-800">企業登録</h1>
		<form th:action="@{/company/regist/input}" method="post">
			<!-- <th:block th:if="${session.result1 != null and session.result1.hasErrors()}">
				<ul>
					<li style="color: red;" th:each="err:${session.result1.detailedErrors()}" th:text="${err.message}"></li>
				</ul>
				<br />
			</th:block> -->

			<div class="form-group">
				<label class="form-label">企業名</label>
				<input type="text" class="form-control" th:field="*{companyForm.comName}" placeholder="企業名" />
			</div>
			<div class="form-group">
				<label class="form-label">業種</label>
				<select th:field="*{companyForm.cateId}" class="form-control">
					<option value="">業種を選択</option>
					<option th:each="category : ${categories}" th:value="${category.cateId}"
						th:text="${category.cateName}"></option>
				</select>
			</div>
			<div class="form-group">
				<label class="form-label">住所</label>
				<input type="text" class="form-control" th:field="*{companyForm.addr}" placeholder="注所" />
			</div>
			<div class="form-group">
				<label class="form-label">企業URL</label>
				<input type="text" class="form-control" th:field="*{companyForm.comUrl}" placeholder="注所" />
			</div>
			<div class="form-group">
				<label class="form-label">説明</label>
				<textarea class="form-control" th:field="*{companyForm.description}"></textarea>
			</div>
			<div id="agentForms">
				<div class="card shadow mb-4 agent-form">
					<div class="card-header py-3">
						<h6 class="m-0 font-weight-bold text-primary">担当者入力</h6>
						<button type="button" class="btn btn-primary" onclick="createAgentForm()">追加</button>
					</div>
					<div class="card-body">
						<div class="form-group">
							<label class="form-label">担当者名</label>
							<input type="text" class="form-control" th:field="*{agentForm.agentForms[0].agentName}"
								placeholder="担当者名" />
						</div>
						<div class="form-group">
							<label class="form-label">部署名</label>
							<input type="text" class="form-control" th:field="*{agentForm.agentForms[0].department}"
								placeholder="部署名" />
						</div>
						<div class="form-group">
							<label class="form-label">所属チーム</label>
							<input type="text" class="form-control" th:field="*{agentForm.agentForms[0].team}"
								placeholder="所属チーム" />
						</div>
						<div class="form-group">
							<label class="form-label">役職</label>
							<input type="text" class="form-control" th:field="*{agentForm.agentForms[0].position}"
								placeholder="役職" />
						</div>
						<div class="form-group">
							<label class="form-label">電話番号</label>
							<input type="text" class="form-control" th:field="*{agentForm.agentForms[0].tel}"
								placeholder="電話番号" />
						</div>
						<div class="form-group">
							<label class="form-label">メールアドレス</label>
							<input type="text" class="form-control" th:field="*{agentForm.agentForms[0].email}"
								placeholder="メールアドレス" />
						</div>
					</div>
				</div>
			</div>


			<button type="submit" class="btn btn-primary">確認</button>
			<button type="submit" th:formaction="@{/company/list}" class="btn btn-secondary">戻る</button>
			<hr>
		</form>
	</div>

	<script>
		let index = 1;
		function createAgentForm() {
			const div = document.createElement('div');
			div.className = 'card shadow mb-4 agent-form';
			div.innerHTML = `
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">担当者入力</h6>
                <button type="button" class="btn btn-primary" onclick="createAgentForm()">追加</button>
                <button type="button" class="btn btn-secondary" onclick="deleteAgentForm(this)">削除</button>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label class="form-label">担当者名</label>
                    <input type="text" class="form-control" name="agentForms[${index}].agentName" placeholder="担当者名">
                </div>
                <div class="form-group">
                    <label class="form-label">部署名</label>
                    <input type="text" class="form-control" name="agentForms[${index}].department" placeholder="部署名">
                </div>
				<div class="form-group">
					<label class="form-label">所属チーム</label>
					<input type="text" class="form-control" name="agentForms[${index}].team" placeholder="所属チーム" />
				</div>
				<div class="form-group">
					<label class="form-label">役職</label>
					<input type="text" class="form-control" name="agentForms[${index}].position" placeholder="役職" />
				</div>
				<div class="form-group">
					<label class="form-label">電話番号</label>
					<input type="text" class="form-control" name="agentForms[${index}].tel" placeholder="電話番号" />
				</div>
				<div class="form-group">
					<label class="form-label">メールアドレス</label>
					<input type="text" class="form-control" name="agentForms[${index}].email" placeholder="メールアドレス" />
				</div>
            </div>`;

			document.getElementById('agentForms').appendChild(div);
			index++;
		}

		function deleteAgentForm(button) {
			const card = button.closest('.agent-form');
			if (card) {
				card.remove();
				index--; // 인덱스 감소
			}
		}
	</script>
</body>

</html>