<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" th:replace="~{common/layout :: layout(~{::body/content()})}">

<head>

	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title></title>

</head>

<body id="page-top">
	<!-- Begin Page Content -->
	<div class="container-fluid">

		<div class="text-center">
			<h1 class="h3 mb-4 text-gray-800">変更完了</h1>
			<p class="lead text-gray-800 mb-2">企業情報変更完了</p>
			<p class="text-gray-800 mb-5">企業情報変更に成功しました</p>
			<a th:href="@{/}">&larr; トップページへ</a>&emsp;&emsp;&emsp;
			<a th:href="@{/company/list}">&larr; 企業一覧へ</a>&emsp;&emsp;&emsp;
			<a th:href="@{/company/detail/{id}(id=${comId})}">&larr; 企業詳細へ</a>
		</div>

	</div>
	<!-- /.container-fluid -->

	</div>
	<!-- End of Main Content -->
</body>

</html>