<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" th:replace="~{common/layout :: layout(~{::body/content()})}">

<head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>

</head>

<body id="page-top">

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-4 text-gray-800">ホーム</h1>

        <div class="row">


            <!-- 週間スケジュール -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">週間スケジュール</h6>
                </div>
                <div class="card-body">
                    <p>Google and Facebook buttons are available featuring each company's respective
                        brand color. They are used on the user login and registration pages.</p>
                    <p>You can create more custom buttons by adding a new color variable in the
                        <code>_variables.scss</code> file and then using the Bootstrap button variant
                        mixin to create a new style, as demonstrated in the <code>_buttons.scss</code>
                        file.
                    </p>

                </div>
            </div>

            <div class="col-lg-6">

                <!-- My to-do list -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">My to-doリスト</h6>
                    </div>
                    <div class="card-body">
                        <p>Use Font Awesome Icons (included with this theme package) along with the circle
                            buttons as shown in the examples below!</p>

                    </div>
                </div>


            </div>

            <div class="col-lg-6">

                <!-- チームto-doリスト -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">チームto-doリスト</h6>
                    </div>
                    <div class="card-body">
                        <p>Works with any button colors, just use the <code>.btn-icon-split</code> class and
                            the markup in the examples below. The examples below also use the
                            <code>.text-white-50</code> helper class on the icons for additional styling,
                            but it is not required.
                        </p>


                    </div>
                </div>

            </div>

        </div>

    </div>
    <!-- /.container-fluid -->

</body>

</html>