<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" th:replace="~{common/layout :: layout(~{::body/content()})}">

<head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>

</head>

<body id="page-top">

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-4 text-gray-800">ホーム</h1>

        <div class="row">


            <!-- 週間スケジュール -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">週間スケジュール</h6>
                </div>
                <div class="card-body">
                    <p>Google and Facebook buttons are available featuring each company's respective
                        brand color. They are used on the user login and registration pages.</p>
                    <p>You can create more custom buttons by adding a new color variable in the
                        <code>_variables.scss</code> file and then using the Bootstrap button variant
                        mixin to create a new style, as demonstrated in the <code>_buttons.scss</code>
                        file.
                    </p>

                </div>
            </div>

            <div class="col-lg-6">

                <!-- 進行中の案件 -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">進行中の案件</h6>
                    </div>
                    <div class="card-body">
						<ul>
							<!-- リストアイテムとして各AgendaBeanを表示(5件まで) -->
        					<li th:each="agendaBean,iterStat : ${nowAgendas}" th:if="${iterStat.index < 5}">
            					<!-- AgendaBeanの情報をリンクとして表示、リンクの最後に{案件ID}も入れる　-->
            					<a th:href="@{/agenda/detail}" th:text="${agendaBean.title}"></a>
        					</li>
    					</ul>
    					
    					<li th:unless="${not #lists.isEmpty(nowAgendas)}">
							<p th:text="#{msg.top.agenda.none}"></p>
    					</li>
    					
    					
    					<!-- リンクの最後に{user_id}も入れる -->
    					<form th:action="@{/agenda/list/{userId}(userId=${userId})}" method="get">
							<input type="submit" value="もっと見る" class="btn btn-primary btn-user btn-block">
						</form>

                    </div>
                </div>


            </div>

            <div class="col-lg-6">

                <!-- 現在のタスク -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">現在のタスク</h6>
                    </div>
                    <div class="card-body">
						
						<ul>
							<!-- リストアイテムとして各scheduleBeanを表示(5件まで) -->
        					<li th:each="scheduleBean,iterStat : ${nowTasks}" th:if="${iterStat.index < 5}">
            					<!-- AgendaBeanの情報をリンクとして表示、リンクの最後に{スケジュールID}も入れる　-->
            					<a th:href="@{/schedule/detail}" th:text="${scheduleBean.title}"></a>
        					</li>
    					</ul>
    					
    					<li th:unless="${not #lists.isEmpty(nowTasks)}">
							<p th:text="#{msg.top.scheduleTask.none}"></p>
    					</li>
    					
    					<!-- リンクの最後に{user_id}も入れる -->
    					<form th:action="@{/schedule/list/{userId}(userId=${userId}}" method="get">
							<input type="submit" value="もっと見る" class="btn btn-primary btn-user btn-block">
						</form>

                    </div>
                </div>

            </div>

        </div>

    </div>
    <!-- /.container-fluid -->

</body>

</html>