<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" th:replace="~{common/layout :: layout(~{::body/content()})}">

<head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>

</head>

<body id="page-top">

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-4 text-gray-800">パスワード変更完了</h1>

        <p class=".text-gray-900">パスワードの変更が完了しました。</p>

        <form th:action="@{/mypage}" method="get">
            <button type="submit" class="btn btn-primary">マイページに戻る</button>
        </form>

    </div>
    <!-- /.container-fluid -->

</body>

</html>